$main-body: #D2D2D2;
$main-footer: #353535;
$main-white: #FFFFFF;
$grey-primaire: #EAEAEA;
$color-purple-principal: #9356DC;
$color-pink-principal: #FF79DA;
$color-bg-grey-second: #F7F7F7;
$color-bg-grey-tri: #7E7E7E;
$color-green-clear: #99E2D0;
$color-green-dark: #008766;
$color-blue-clear: #89C8FA;
$color-bleu-green: #99E2D0;
$color-blue-dark: #003A68;